body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: auto;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
